body {
    color: red;
}

#-pre-test-post- {
    color: green;
}

#-pre-test2-post- {
    color: green;
}

#-pre-test3-post-, #-pre-test4-post- {
    color: green;
}

#-pre-test2-post- {width: 100px;}
