body {
    color: red;
}

#-pre-test-alt-postfix- {
    color: green;
}

#-pre-test2-alt-postfix- {
    color: green;
}

#-pre-test3-alt-postfix-, #-pre-test4-alt-postfix- {
    color: green;
}

#-pre-test2-post- {width: 100px;}
