body {
    color: red;
}

#-alt-prefix-test-post- {
    color: green;
}

#-alt-prefix-test2-post- {
    color: green;
}

#-alt-prefix-test3-post-, #-alt-prefix-test4-post- {
    color: green;
}

#-pre-test2-post- {width: 100px;}
